<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Places</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h5>Total: {{.Total}}</h5>
<ul>
    {{range .Places}}
    <li>
        <div>{{.Name}}</div>
        <div>{{.Address}}</div>
        <div>{{.Phone}}</div>
    </li>
    {{end}}
</ul>
<div>
    {{if gt .LastPage 1}}
    <a href="/places?page={{.LastPage}}">Last</a>
    {{end}}
    {{if gt .Page 1}}
    <a href="/places?page={{sub .Page 1}}">Previous</a>
    {{end}}
    {{if lt .Page .LastPage}}
    <a href="/places?page={{add .Page 1}}">Next</a>
    {{end}}
</div>
</body>
</html>
